<div class="dashboard">

  <!-- KPI Cards -->
  <div class="cards">

    <div
      class="card"
      *ngFor="let card of dashboardCards"
      [ngClass]="card.color">

      <div class="card-header">

        <div>
          <h3>{{ card.title }}</h3>
          <h1>{{ card.value }}</h1>
          <span>{{ card.description }}</span>
        </div>

        <mat-icon>{{ card.icon }}</mat-icon>

      </div>

    </div>

  </div>
  <div class="quick-actions">

  <button
    mat-raised-button
    *ngFor="let action of quickActions"
    [color]="action.color">

    <mat-icon>{{ action.icon }}</mat-icon>

    {{ action.title }}

  </button>

</div>

  <!-- Charts -->
  <div class="dashboard-grid">

    <!-- Inventory Trend -->
    <div class="panel">
      <h2>Inventory Trend</h2>

      <canvas
        baseChart
        [data]="lineChartData"
        [type]="lineChartType">
      </canvas>
    </div>

    <!-- Product Categories -->
    <div class="panel">

      <h2>Product Categories</h2>

      <canvas
        baseChart
        [data]="pieChartData"
        [type]="pieChartType">
      </canvas>

    </div>

  </div>

  <!-- Low Stock Products -->
  <div class="panel table-panel">

    <div class="panel-header">
      <h2>Low Stock Products</h2>
    </div>

    <table>

      <thead>

        <tr>
          <th>Product</th>
          <th>SKU</th>
          <th>Stock</th>
          <th>Reorder Level</th>
          <th>Status</th>
          <th>Action</th>
        </tr>

      </thead>

      <tbody>

        <tr *ngFor="let product of lowStockProducts">

          <td>{{ product.name }}</td>
          <td>{{ product.sku }}</td>
          <td>{{ product.stock }}</td>
          <td>{{ product.reorderLevel }}</td>

          <td>

            <span
              class="status"
              [ngClass]="{
                'critical': product.status === 'Critical',
                'low': product.status === 'Low',
                'normal': product.status === 'Normal'
              }">

              {{ product.status }}

            </span>

          </td>

          <td>

            <button mat-raised-button color="primary">
              View
            </button>

          </td>

        </tr>

      </tbody>

    </table>

  </div>

  <!-- Recent Products -->
  <div class="panel table-panel">

    <div class="panel-header">
      <h2>Recent Products</h2>
    </div>

    <table>

      <thead>

        <tr>
          <th>Product</th>
          <th>Stock</th>
        </tr>

      </thead>

      <tbody>

        <tr>
          <td>Laptop</td>
          <td>120</td>
        </tr>

        <tr>
          <td>Keyboard</td>
          <td>85</td>
        </tr>

        <tr>
          <td>Mouse</td>
          <td>200</td>
        </tr>

      </tbody>

    </table>

  </div>

</div>